<header>
        <div>
            <img src="img/logo.png">
            <h1>Cuide do meio <span>ambiente</span></h1>
            <p>Partícipe do nosso grupo</p>
            <small style="color: rgb(35, 43, 35); font-weight: bold;">somos um grupo que preserva o meio ambiente. Gostariamos da sua ajuda.</small><br>
            <input type="submit" value="Veja um pouco mais">
           
        </div>
    </header>
            <div class="text hide">
                <p>
                    Temos como uma missão ajudar o meio ambiente, juntando pessoas em um grupo<br>
                    de whatsapp, discord. Com essa união conseguimos agrupar todos no local apropriado<br>
                    para fazer uma ajudinha para o nosso ambiente.
                </p>
            </div>
    <main>
        <section class="form">
                <form action="/" method="post">
                    <input type="email" name="email" placeholder="E-mail" required>
                    <input type="tel" name="tel" placeholder="telefone" required>
                    <input type="submit" class="btnInput" value="partícipe">
                </form>
            </section>
            <br>
            <small style="font-weight:600;">Enviaremos um link para o seu e-mail para <span style="color:rgba(13, 87, 13, 0.76);">se juntar com a gente</span></small>
    </main>
    <footer>
            Desenvolvido por <span style="font-size: 16px; color:rgba(13, 87, 13, 0.76)">Igor Barros</span>
    </footer>
