
    <header>
        <div>
            <img src="img/logo.png">
            <h1>Cuide do meio <span>ambiente</span></h1>
            <p>Partícipe do nosso grupo</p>
            <small style="color: rgb(35, 43, 35); font-weight: bold;">somos um grupo que preserva o meio ambiente. Gostariamos da sua ajuda.</small><br>
            <input type="submit" value="Veja um pouco mais">
           
        </div>
    </header>
    <section class="form">
                <form action="/" method="post">
                    <input type="email" name="email" placeholder="E-mail">
                    <input type="tel" name="tel" placeholder="telefone">
                    <input type="submit" class="btnInput" value="partícipe">
                </form>
            </section>
    <main>
    </main>
    <footer>
            Desenvolvido por <span style="font-size: 16px; color:rgba(13, 87, 13, 0.76)">Igor Barros</span>
    </footer>
