/* global */
*{
    box-sizing: border-box;
}
html, body{
    margin: 0%
}
body{
    display: flex;
    flex-direction: column;

    height: 100vh;
    background-color: #afe686ee;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-weight: bold;
}

/* header */
header,main,footer{
   
    margin-bottom: 70px;
    text-align: center;
    
}
header span{
    color: green;
}
header img{
    width: 150px;
    height: 150px;
}
header input{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 14px;
    padding: 10px 15px;
    border: none;
    border-radius:40px 5px;
    border-style: hidden;
    background-color: rgba(0, 128, 0, 0.637);
    font-weight:bolder;
    font-size: 17px;

}
header input{
    outline-style: none;
}
/* text */

div.text p{
    margin-top: -30px;
    text-align: center;
}
/* main */
.form input{
position: relative;

display: block;
margin-right: auto;
margin-left: auto;

margin-bottom: 4px;
padding: 8px;

border: 1px #888484ee solid;

border-radius: 2px;

}
.form input{
    outline-style: none;
}

.form input::placeholder{
    background-color: transparent;
}

.form .btnInput{
    border-radius: 50% 30px;
    border: none;
    padding: 10px 15px;
    font-size: 17px;
    color: #000000ab;
    margin-top: 11px;
    background-color: rgba(0, 128, 0, 0.637);
    font-weight:bolder;
} 
/* footer */
footer{
    margin-top:auto;
    padding-top: 14px;
    border-top: 1px #1f6b29ee solid;
}

/* animation */
div.text{
    transition: all 300ms;
}

div.text.hide{
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin-top: -40px;
}